<% provide(:title, t("user.title")) %>
<h1><%= t("user.title") %></h1>
<% if @users.empty? %>
  <h2><%= t("user.empty") %></h2>
<% else %>
  <ul class="user">
    <%= render @users %>
  </ul>
<% end %>
