<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followers_path @user.id %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t("relationship.follower") %>
  </a>
</div>
