development:
  database: elearning
  pool: 5
  username: root
  password: root
test:
  database: elearningtest
  pool: 5
  username: root
  password: root
production:
  database: elearningproduction
  pool: 5
  username: root
  password: root
